@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f9fafb;
}

@layer utilities {
    .animate-flow-sync {
        animation: flowSync 4s infinite ease-in-out;
    }

    .animate-flow-async-request {
        animation: flowAsyncRequest 2s infinite ease-in-out;
    }

    .animate-flow-async-worker {
        animation: flowAsyncWorker 2s infinite linear;
    }
}

@keyframes flowSync {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        transform: translateX(180px);
    }

    /* Reach Payment */
    60% {
        transform: translateX(180px);
    }

    /* Wait */
    90% {
        transform: translateX(0);
        opacity: 1;
    }

    /* Return */
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

@keyframes flowAsyncRequest {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        transform: translateX(100px);
        opacity: 1;
    }

    /* Reach Queue */
    60% {
        transform: translateX(100px);
        opacity: 0;
    }

    /* Disappear into Queue */
    100% {
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes flowAsyncWorker {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        transform: translateX(80px);
        opacity: 1;
    }

    100% {
        transform: translateX(80px);
        opacity: 0;
    }
}